# The MySQL  Client configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysql]

[client]
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4

[mysqld]
character-set-client-handshake = FALSE
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
ngram_token_size = 2
sql-mode="STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"

# general log setting
general_log = on
log-bin = /var/log/mysql/mysql-bin.log
general_log = /var/log/mysql/mysql.log
log-error = /var/log/mysql/error.log

# slow query log
slow_query_log = 1
long_query_time = 5
slow_query_log_file = /var/log/mysql/slow.log
log_queries_not_using_indexes = 1